<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>destination</key>
	<string>export</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://www.jianshu.com/p/b7c2388b6ed4.ipa</string>
		<key>displayImageURL</key>
		<string>https://www.jianshu.com/p/b7c2388b6ed4.png</string>
		<key>fullSizeImageURL</key>
		<string>https://www.jianshu.com/p/b7c2388b6ed4.png</string>
	</dict>
	<key>method</key>
	<string>enterprise</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.goldShield.WarmHomeGZ</key>
		<string>XC iOS: com.goldShield.WarmHomeGZ</string>
	</dict>
	<key>signingCertificate</key>
	<string>Apple Distribution</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>H26Y54627N</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
